html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#map-container {
    height: 80vh;
    width: 100%;
}

.route-profile-container {
    height: 20vh;
    width: 100%;
}

a {
    text-decoration: none;
}

/* Elevation Chart */      
.axis path, .axis line {
    fill: none;
    stroke: #464646;
}

.area {
    fill: #C8042B;
}

.area svg {
    padding-bottom: 20px;
}

.y.label, .x.axis, .y.axis {
    fill: #464646;
    font-family: Arial;
    font-size: 12px;
}

.x.label {
    fill: white;
    font-family: Arial;
    font-size: 12px;
}

.tick text {
    font-family: Arial;
    font-size: 10px;
}
        
.event-layer {
    fill: transparent;
    cursor: crosshair;
    position: absolute;
    z-index: 10;
}
        
.focusLine {
    stroke: white;
    stroke-width: 1px;
}
        
.focusLabel {
    fill: black;
    font-size: 1.6em;
}
        
.label-box {
    fill: white;
    stroke: black;
    stroke-width: 1;
}
/* End Elevation Chart */